<ActionBar title="Items 1">
</ActionBar>

<StackLayout>
  <Button text="close" (tap)="onTap()"></Button>
  
    <!-- <TextField (focus)="onFocus()"
               (blur)="onBlur()"
               (tap)="onTap()">
    </TextField> -->
    <TextField (focus)="onFocus()"
               (blur)="onBlur()"
               (textChange)="change($event)"
               (loaded)="loaded($event)"
               (unloaded)="unloaded($event)">
    </TextField>
    <Button nsRouterLink="/items2" (tap)="onTap()" text="To Items 2"></Button>
</StackLayout>
